PORT=3000
APP_NAME=practica-7-backend
MONGO_URI=mongodb+srv://usuario:password@cluster.mongodb.net/usuarios_db?retryWrites=true&w=majority&appName=Cluster0
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/TU/WEBHOOK/AQUI
